/* Header */
.body{
    background-image: url(../img/background.png);
    font-family: 'Times New Roman', Times, serif;
}
.sign_up_bar{
    width: 100%;
    height: 40px;
    background-color: #F7CFD8 ;
    display: flex;
    justify-content:space-between;
}
#clock{
    color: black;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.signup_box{
    display: flex;
    justify-content: right;
}
#btnSignUp{
    color:black;
    margin-right: 20px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
#btnSignUp:hover{
    color: #fa335e;
    background-color: #fffaf4;
    transition: background-color 0.5s ease;
}
#btnAccount{
    color: black;
    margin-right: 20px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
#btnAccount:hover{
    color: #fa335e;
    background-color: #fffaf4;
    transition: background-color 0.5s ease;
}
#btnLogOut{
    color: black;
    margin-right: 20px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
#btnLogOut:hover{
    color: #fa335e;
    background-color: #fffaf4;
    transition: background-color 0.5s ease;
}

.header{
    color: black;
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
}
.caption{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-top: -13px;
}

/* Menu */
.menu_line{
    width: 100%;
    height: 3px;
    background-color: #F7CFD8;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu_list{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}
.list:hover{
    color:#fa335e;
    transition: background-color 0.5s ease;
    font-weight: bold;
}

/* Box 1 */
.box1{
    display: flex;
    justify-content: space-around;
}

/* Top Stories */
#title2{
    width: 250px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
#topstories{
    margin-left: 28px;
    width: 700px;
}
a.topstories{
    display:flex;
    cursor: pointer;
}
.topstories img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}
h6 {
    font-size: 15px;
    font-weight: bold;
}
h6:hover{
    color: #fa335e;
    transition: color 0.2s ease;
    text-decoration: underline;
}

/* Newswire */
main.newswire_bar{
    background-color: white;
    border-radius: 10px;
    width: 350px;
    margin-top: 30px;
    margin-right: 40px;
}
#title3{
    width: 250px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;
}
.ns_head{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.ns_line{
    width: 30px;
    height: 3px;
    background-color: #f6a3b5;
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 10px;
}
.ns_head_name{
    font-size: 18px;
    font-weight: bold;
    color: #f6a3b5;
    padding: 10px;
}
#newswire{
    margin-left: 28px;
    width: 300px;
}
a.newswire{
    display:flex;
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 20px;
}
a.newswire:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.newswire img{
    width: 160px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}

#newswire_world{
    margin-left: 28px;
    width: 300px;
}
a.newswire_world{
    display:flex;
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 20px;
}
a.newswire_world:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.newswire_world img{
    width: 160px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}
h7 {
    font-size: 15px;
    font-weight:normal;
}
h7:hover{
    color: #fa335e;
    transition: color 0.2s ease;
    text-decoration: underline;
}

/* Hardcover fictions */
.book {
    border-radius: 10px;
    width: 180px;
    height: 260px;
    background: white;
    padding: 10px;
}
.book:hover{
    transform: scale(1.1);  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#title{
    width: 350px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 45px;
    margin-bottom: 10px;
    padding: 10px;
}
#hardcoverfiction{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
div.book img{
    width: 160px;
    height: 200px;
    object-fit: cover;  
    border-radius: 5px;
}
.p-4 {
    padding: 0;
}

h2{
    width: 350px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 45px;
    margin-bottom: 10px;
    padding: 10px;
}
.article {
    background: white;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
}
.article:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.article img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}
.article-content {
    flex: 1;
}
.article a {
    text-decoration: none;
    color: #e3788f;
    font-size: 18px;
    font-weight: bold;
}
.article a:hover {
    text-decoration: underline;
}
.article p {
    color: #555;
}
.hardcoverfiction_note{
    color:#fa335e;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

/* Footer */
.footer{
    background-color: #F7CFD8;
    height: 270px;
    color: black;
    margin-top: 70px;
}
.footer h2{
    font-size: 50px;
}
.footer p{
    margin-left: 50px;
    margin-top: -30px;
    margin-bottom: 30px;
}
.footer_link{
    margin-left: 50px;
    font-weight: bold;
}
.footer_link:hover{
    text-decoration: underline;
    color:#fa335e;
}
.footer_2025{
    text-align: center;
}