/* Header */
.body{
    background-color: #f5f1d4;
    font-family: 'Times New Roman', Times, serif;
}
.sign_up_bar{
    width: 100%;
    height: 40px;
    background-color: #81BFDA ;
    display: flex;
    justify-content:space-between;
}
#clock{
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.sign_up_button{
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.sign_up_button:hover{
    background-color: #B1F0F7;
    transition: background-color 0.5s ease;
}
.header{
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
}
.caption{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-top: -13px;
}

/* Menu */
.menu_line{
    width: 100%;
    height: 3px;
    background-color: #81BFDA;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu_list{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}
.list:hover{
    font-weight: bold;
    text-decoration: underline;
}

/* Box 1 */
.box1{
    display: flex;
    justify-content: space-around;
}

/* Top Stories */
#title2{
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
#title2:hover{
    text-decoration: underline;
}
#topstories{
    margin-left: 28px;
    width: 700px;
}
a.topstories{
    display:flex;
    cursor: pointer;
}
.topstories img{
    width: 350px;
    height: 100%;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}
h6 {
    font-size: 20px;
    font-weight: bolder;
}
h6:hover{
    color: #56aace;
    transition: color 0.2s ease;
    text-decoration: underline;
}

/* Newswire */
main.newswire_bar{
    background-color: white;
    border-radius: 10px;
    width: 350px;
    margin-top: 30px;
    margin-right: 40px;
}
#title3{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;
}
#title3:hover{
    text-decoration: underline;
}
.ns_head{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.ns_line{
    width: 30px;
    height: 3px;
    background-color: darkred;
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 10px;
}
.ns_head_name{
    font-size: 18px;
    font-weight: bold;
    color: darkred;
    padding: 10px;
}
#newswire{
    margin-left: 28px;
    width: 300px;
}
a.newswire{
    display:flex;
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 20px;
}
a.newswire:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.newswire img{
    width: 160px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}

#newswire_world{
    margin-left: 28px;
    width: 300px;
}
a.newswire_world{
    display:flex;
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
    margin-bottom: 20px;
}
a.newswire_world:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.newswire_world img{
    width: 160px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}
h6 {
    font-size: 15px;
    font-weight:normal;
}
h6:hover{
    color: #56aace;
    transition: color 0.2s ease;
    text-decoration: underline;
}

/* Hardcover fictions */
.book {
    border-radius: 10px;
    width: 200px;
    height: 300px;
    background: white;
    padding: 20px;
}
.book:hover{
    transform: scale(1.1);  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#title{
    font-size: 40px;
    font-weight: bold;
    margin-left: 45px;
    margin-bottom: 10px;
    padding: 10px;
}
#title:hover{
    text-decoration: underline;
}
#list-book{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
div.book img{
    width: 200px;
    height: 230px;
    object-fit: cover;  
    border-radius: 5px;
}
.p-4 {
    padding: 0;
}

/* Footer */
.footer{
    background-color: #81BFDA;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-top: 30px;
}
.contact_us{
    margin-right: 10px;
    cursor: pointer;
}
 .contact_us:hover{
    color: #B1F0F7;
    transition: color 0.5s ease;
    text-decoration: underline;
}

